@using Tauron.Application.MgiProjectManager.Server.Data.Api
@model Tauron.Application.MgiProjectManager.Server.Data.Api.UnAssociateFile
@{
    string baseId = Model.OperationId;
    string baseRowId = Template.FileToNameTemplate.BaseRowId + baseId;
    string errorColId = Template.FileToNameTemplate.ErrorCol + baseId;
    string errorSpanId = Template.FileToNameTemplate.ErrorColSpan + baseId;
    string fileNameSpan = Template.FileToNameTemplate.FileNameSpan + baseId;
    string editorId = Template.FileToNameTemplate.EditorId + baseId;
    string submitButton = Template.FileToNameTemplate.SubmitButton + baseId;
}


<div class="row m-1" style="display: none" id="@errorColId">
    <div class="col">
         <span class="text-danger" id="@errorSpanId"></span>
    </div>
</div>
<div class="row m-1" style="display: none" id="@baseRowId">
    <div class="col m-1">
        <span id="@fileNameSpan"></span>
    </div>
    <div class="col m-1">
        <div id="@editorId"></div>
    </div>
    <div class="col m-1">
        <button id="@submitButton"></button>
    </div>
</div>
