@page
@model MGIProjectManagerServer.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = SimpleLoc["Admin_Index_Title"];
    ViewData[Consts.Ej2] = true;
}
@section Scripts
{
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
}

    <div class="container">
        <div class="m-5">
            <span>@SimpleLoc["Admin_Index_Summery"]</span>
            <ul>
                <li>@RoleNames.Operator</li>
                <li>@RoleNames.Controller</li>
                <li>@RoleNames.Viewer</li>
            </ul>
        </div>
        <ejs-grid id="UserGrid" actionFailure="actionFailure">
            <e-data-manager url="/api/UserGrid" insertUrl="/api/UserGrid/Insert" updateUrl="/api/UserGrid/Update" removeUrl="/api/UserGrid/Remove" adaptor="UrlAdaptor" />
            <e-grid-editSettings allowAdding="true" allowEditing="true" allowDeleting="true" showDeleteConfirmDialog="true"></e-grid-editSettings>
            <e-grid-columns>
                <e-grid-column field="Id" headerText="ID" isPrimaryKey="true" type="string" />
                <e-grid-column field="Name" headerText="@SimpleLoc["Admin_Index_UserGrid_NameColumn"]" type="string" allowEditing="false" textAlign="Left" />
                <e-grid-column field="Role" headerText="@SimpleLoc["Admin_Index_UserGrid_RoleColumn"]" type="string" allowEditing="true" textAlign="Left" />
            </e-grid-columns>
        </ejs-grid>

        <ejs-dialog id="ErrorList" header="Error" showCloseIcon="true" width="700" created="onCreated"></ejs-dialog>
    </div>
<script>
    function actionFailure(args) {
        var error = $(args.error.responseText).eq(9).text();  //get the error message from server side. 
        $('#ErrorList').html(""); 
        $('#ErrorList').html('<span class="text-danger">' + error + "</span>"); 
        $('#ErrorList').ejDialog("open"); 
    }

    function onCreated() { 
        var dialogObj = document.getElementById("ErrorList").ej2_instances[0]; 
        dialogObj.hide(); 
    } 

</script>
