@using Tauron.Application.MgiProjectManager.Server.Areas.Setup.Pages
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <span class="nav-link @SetupManageNavPages.StartNavClass(ViewContext)">@SimpleLoc["Setup_navbar_Index"]</span>
    </li>
    <li class="nav-item">
        <span class="nav-link @SetupManageNavPages.CreateUserNavClass(ViewContext)">@SimpleLoc["Setup_navbar_CreateUser"]</span>
    </li>
    <li class="nav-item">
        <span class="nav-link @SetupManageNavPages.SetFilePathClass(ViewContext)">@SimpleLoc["Setup_navbar_SetFilePath"]</span>
    </li>
    <li class="nav-item">
        <span class="nav-link @SetupManageNavPages.SetFinishClass(ViewContext)">@SimpleLoc["Setup_navbar_Finish"]</span>
    </li>
</ul>